.IR-component {
    background-color: var(--mainBgColor);
    position: relative;
    width: 401px;
    min-width: 401px;
    height: 407px;
    margin-top: 0;
}

.dropDown-IR {
    position: absolute;
    left: 3.99%;
    right: 3.99%;
    top: 16.46%;
    bottom: 71.74%;
    background: var(--mainBgColor);
    border: 1.01451px solid #333948;
    border-radius: 8.11607px;
}

.dropDown-IR p {
    position: relative;
    font-family: 'Roboto';
    font-size: 14.2px;
    font-weight: 400;
    line-height: 20.29px;
    left: 16.23px;
    color: var(--secondaryText);
}

.dropDown-IR img {
    position: absolute;
    left: 326px;
    top: 13px;
    width: 20px;
    height: 20px;
}

.valores {
    position: relative;
    width: 369px;
    height: 128px;
    top: 65px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20.29px;
    color: var(--optionsMainText);
    margin-left: 16px;
}

.valor-numero {
    position: relative;
    left: 333px;
    margin-top: -34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.2031px;
    line-height: 20px;
    display: flex;
}

#input-mes {
    position: absolute;
    left: 309px;
    top: 65px;
    width: 49px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.2031px;
    background-color: var(--mainBgColor);
    border: 1px solid #7C8597;
    text-align: center;
    overflow: hidden;
    border-radius: 3px;
    font-size: 14.2031px;
    line-height: 20px;
    display: flex;
}

.valor-mensal {
    position: relative;
    left: 308px;
    margin-top: -34px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.2031px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--valoresText);
    text-shadow: 0px 4.05803px 4.05803px rgba(0, 0, 0, 0.25);
}

.valor-final {
    margin-left: 16px;
}

#retangulo {
    position: absolute;
    width: 360px;
    bottom: 143px;
    height: 1px;
    background: #576074;
}

.valor-total {
    position: relative;
    top: 70px;
    color: var(--mainText);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
}

.valor-total-resultado {
    color: var(--mainText);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    position: relative;
    line-height: 125%;
    top: 27px;
    left: 280px;
}

.valor-final button {
    position: absolute;
    border-radius: 8px;
    font-family: 'Roboto';
    border: 1px solid var(--contratar-bg-color);
    font-weight: 500;
    line-height: 16, 1px;
    font-size: 14px;
    color: var(--mainColor);
    background-color: var(--contratarBgColor);
    bottom: 24px;
    height: 40px;
    width: 369px;
    transition: 1s;
}