.IR-component {
    background-color: #202432;
    position: relative;
    width: 401px;
    height: 407px;    
}

.IRsvg {
    position: absolute;
    left: 3.99%;
    right: 90.02%;
    top: 3.44%;
    bottom: 90.66%;
}

.titulo-IR {
    /* Calculadora de IR */


position: absolute;
left: 11.97%;
right: 51.62%;
top: 0.5%;
bottom: 91.15%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* colors/neutral/50 */

color: #EDEFF2;
}

.IR-top {
    min-height: 49px;
    border:0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #333948
}

.dropDown-IR{
    position: absolute;
    left: 3.99%;
    right: 3.99%;
    top: 16.46%;
    bottom: 71.74%;

    /* colors/neutral/950 */

    background: #202432;
    /* colors/neutral/900 */

    border: 1.01451px solid #333948;
    border-radius: 8.11607px;
}



.valores {
    position: absolute;
    width: 369px;
    height: 128px;
    left: 16px;
    top: 127px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14.2px;
    line-height: 20.29px;
    color: #F7F8F9;
    margin-left: 16px;
}

.valor-numero {
    position: absolute;
    left: 87.79%;
    right: 2.74%;
    margin-top: -34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.2031px;
    line-height: 20px;
    /* or 143% */

    display: flex;
}
.valor-mensal {
    /* R$22,90 */

    position: absolute;
    left: 81.8%;
    right: 4.24%;
    margin-top: -34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14.2031px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    /* colors/neutral/0 */

    color: #FFFFFF;

    text-shadow: 0px 4.05803px 4.05803px rgba(0, 0, 0, 0.25);
}