.banner-component{
    height: 210px;
    width: 1217px;
    border-radius: 10px;
    margin-top: 8px;
}

.banner-component img {
    position: absolute;
    z-index: -1;
    width: 1217px;
}

.textos {
    width: 23%;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
}

.titulo-banner{
    color: var(--valoresText);
    margin-top: 57px;
    font-size: 36px;
}

.sub-banner {
    color: var(--valoresText);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    display: flex;
    align-items: center;
    position: relative;
    top: -20px;
}